.card-main2 {
    position: absolute;
    top:1000%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 6px solid #9B259F;
    border-radius: 10px;
    width: 45%;
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.intel{
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid  #16052C;
    background: linear-gradient(#9B259F, #2d0c58);
    border-radius: 25px;
    width: 80%;
    height: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  
}
.photo{
    position: relative;
    border: 20px solid  #16052C;
    background: linear-gradient(#9B259F);
    bottom: 29%;
    width: 40%;
    height: 168%;
    align-items: center;
    display: flex;
}
.skillb{
    position: relative;
    border-top: 20px solid #16052C;
    background: linear-gradient( #2d0c58);
    top:43%;
    width: 100%;
    height: 40%;
    align-items: center;
    display: flex;
}
.photo2{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.impact-font {
    font-family: Impact, sans-serif;
    font-size: 36px;
    margin-bottom: 10px;
   color: #FFFFFF;
}

.iceberg-font {
    font-family: Iceberg, sans-serif;
    font-size: 18px;
    color: #888888;
}
