.card-main2 {
    position: absolute;
    top:1000%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 6px solid #9B259F;
    border-radius: 10px;
    width: 45%;
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}